
<div class="container-fluid">
  <h2>Registration Form</h2>
  {{userForm.value | json}}
  <form [formGroup]= "userForm">
    <div class="form-group">
      <label>ID</label>
      <input formControlName="id" type="number" class="form-control"
      [class.is-invalid]= "userForm.get('id')?.invalid &&
      userForm.get('id')?.touched">

      <small [class.d-none]= "userForm.get('id')?.valid || userForm.get('id')?.untouched" class="text-danger">
        Please enter a valid id
      </small>
    </div>


    <div class="form-group">
      <label>Firstname</label>
      <input formControlName= "firstname" type="text" class="form-control"
      [class.is-invalid]= "userForm.get('firstname')?.invalid &&
      userForm.get('firstname')?.touched">

      <small [class.d-none]= "userForm.get('firstname')?.valid || userForm.get('firstname')?.untouched" class="text-danger">
        Please enter a valid firstname
      </small>
    </div>

    <div class="form-group">
      <label>lastname</label>
      <input formControlName= "lastname" type="text" class="form-control"
      [class.is-invalid]= "userForm.get('lastname')?.invalid &&
      userForm.get('lastname')?.touched">
 
      <small [class.d-none]= "userForm.get('lastname')?.valid || userForm.get('lastname')?.untouched" class="text-danger">
        Please enter a valid lastname
      </small>
    </div>

      <div class="form-group">
      <label>dateOfBirth</label>
      <input formControlName= "dateOfBirth" type="text" class="form-control"
      [class.is-invalid]= "userForm.get('dateOfBirth')?.invalid &&
      userForm.get('dateOfBirth')?.touched">
 
      <small [class.d-none]= "userForm.get('dateOfBirth')?.valid || userForm.get('dateOfBirth')?.untouched" class="text-danger">
        Please enter a valid dateOfBirth
      </small>
    </div>



    <div class="form-group">
      <label>phoneNumber</label>
      <input formControlName= "phoneNumber" type="text" class="form-control"
      [class.is-invalid]= "userForm.get('phoneNumber')?.invalid &&
      userForm.get('phoneNumber')?.touched">
 
      <small [class.d-none]= "userForm.get('phoneNumber')?.valid || userForm.get('phoneNumber')?.untouched" class="text-danger">
        Please enter a valid phoneNumber
      </small>
    </div>

    <div class="form-group">
      <label>email</label>
      <input formControlName= "email" type="text" class="form-control"
      [class.is-invalid]= "userForm.get('email')?.invalid &&
      userForm.get('email')?.touched">
 
      <small [class.d-none]= "userForm.get('email')?.valid || userForm.get('email')?.untouched" class="text-danger">
        Please enter a valid email
      </small>
    </div>


    <button class="btn btn-primary">Register</button>

  </form>
</div>
